.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  background-color: #ffffff;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: black;
}

input {
  padding: 10px 10px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
  text-align: center;
}

.userName {
  margin-right: 1%;
}

.passWord {
  margin-left: 1%;
}

.userName,
.passWord,
.dependencia{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.userName,
.passWord {
  width: 49%;
}

.dependencia{
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #000000;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: Black;
  background-color: #E2E2E2;
  border: 2px solid Black;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}
