/*** Table Styles **/

.margin{
  margin-left: 45px;
  margin-right: 45px;
}

.tabgroup div {
  padding: 30px;
  background: #F2EEE2;
}


.table-fill {
  height: 20px;
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  vertical-align:middle;
  margin: auto;
  max-width: 200px;
  min-width: 200px;
  max-height: 80px;
  min-height: 80px;
  padding:5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

.panel-primary {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:2px solid #FFE169;
  border-right: 1px solid #343a45;
  font-size:24px;
  padding:5px;
  text-align:center;
  vertical-align:middle;
  margin: auto;
  border-radius: 15px;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-right: 1px solid #343a45;
  font-size:20px;
  padding:5px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  min-width: 278px;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  padding:5px;
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:10px;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:first-child {
  border-top:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:14px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  height: 20px;
}

td:last-child {
  border-right: 0px;
  height: 20px;
}

th.text-center {
  text-align: center;
}

td.text-center {
  text-align: center;
}

.tabgroup {
  box-shadow-radius: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.tabgroup div {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 10px 5px;
  padding: 20px;
  border-radius: 20px;
  background: #5B5A5A;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.tabgroup .button{
  margin-right: 15px;
}
